<nav class="navbar">
  <%= link_to(root_path) do%>
    <div class="navbar-logo">
      <%= image_tag "logo", alt: "logo", width: "auto", height: "120" %>
      <div class="text-logo">
        <p>Faker date</p>
      </div>
    </div>
  <% end %>
  <div class="navbar-search">
      <input type="text" placeholder="Où">
      <input type="text" placeholder="Quand">
      <button type="submit">Rechercher</button>
  </div>

<div class="navbar-offer">
      <%= link_to "Mes réservations", bookings_path, class: "offer-btn"%>
  </div>
  <div class="navbar-offer">
    <% if !user_signed_in? %>
      <%= link_to(new_user_session_path) do%>
        <i class="fa-regular fa-user avatar"></i>
      <% end %>
    <% else %>
      <% if current_user.photo.key.nil? %>
        <%= link_to(user_path(current_user)) do%>
          <i class="fa-regular fa-user avatar"></i>
        <% end %>
      <% else %>
        <%= link_to(user_path(current_user)) do%>
          <%= cl_image_tag current_user.photo.key, crop: :fill, alt: "user avatar", class: "avatar" %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="navbar-offer">
    <% if user_signed_in? %>
      <%= button_to destroy_user_session_path, method: :delete do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    <% else %>

    <% end %>
  </div>

  <div class="navbar-offer">
      <%= link_to "Je dépose une offre", new_offer_path, class: "offer-btn"%>
  </div>
</nav>
