<%= render "navbar" %>

  <p>Les gens ont réservé mes offres</p>
  <div class="d-flex justify-content-start gap-3">
      <% @requests.each do |booking| %>
        <div>
          <%= cl_image_tag booking.offer.photos.first.key, height: 200, width: 300, crop: :fill  %>
          <p><%= booking.offer.user.first_name %> <%= booking.offer.user.last_name %> <br> <%= booking.message %> <br><%= booking.booked_on %></p>
        </div>
      <% end %>
  </div>

  <p>Mes reservations</p>
  <div class="d-flex justify-content-start gap-3">
    <% @bookings.each do |b| %>
      <div>
        <%= cl_image_tag b.offer.photos.first.key, height: 200, width: 300, crop: :fill  %>
        <p><%= b.offer.user.first_name %> <%= b.offer.user.last_name %> <br> <%= b.booked_on %></p>
      </div>
    <% end %>
  </div>
<%= render "footer" %>
