<%= render "navbar" %>

    <section class="real-connections-section">
    <div class="text-content-index">
      <h1 class="index-title"><span data-controller="typed" data-typed-strings-value="<%= ["Trouve ton <span class='highlight'>fake date </span>pour tous les événements en 1 click"] %>" class="index-title">
      </span></h1>
      <p class="description"> Vous craignez les questions gênantes en famille ou de venir seul à un mariage, dîner d'affaires, ou autre?<br> Pas de souci ! Avec DateFaker, évitez l'embarras grâce à un compagnon fictif, quelle que soit l'occasion.</p>
    </div>
    <div class="image-content">
      <%= image_tag "img2", alt: "img_2", width: "auto", height: "300" %>
      <div class="heart-icon">
        <img src="path-to-your-image/heart-icon.png" alt="">
      </div>
    </div>
  </section>

<section class="category">
  <div class="container d-flex flex-column" >
    <h2 class="title">Trouvez le complice pour chaque occasion</h2>
      <div class="boxes">
        <div class="box">
        <%= image_tag "mariage", alt: "mariage", width: "auto", height: "120" %>
          <p>Mariage</p>
    </div>
      <div class="box">
        <%= image_tag "meal", alt: "meal", width: "auto", height: "120" %>
          <p>Repas de famille</p>
      </div>
        <div class="box">
          <%= image_tag "business", alt: "business", width: "auto", height: "120" %>
            <p>Dîner d'affaires</p>
      </div>
        <div class="box">
          <%= image_tag "hug", alt: "hug", width: "auto", height: "120" %>
            <p>Consolation après une rupture</p>
        </div>
          <div class="box">
            <%= image_tag "sad", alt: "sad", width: "auto", height: "120" %>
              <p>Support lors d'une situation stressante</p>
        </div>
          <div class="box">
            <%= image_tag "interrogation", alt: "interrogation", width: "auto", height: "120" %>
              <p>Autres</p>
          </div>
        </div>
  </div>
</section>

<section class="offers">
  <div class="offers-category d-flex flex-column">
    <h2 class="second-title">Découvrez Nos Experts : Prêts à rendre votre moment inoubliable !</h2>
      <%= render 'carousel' %>
  </div>
</section>

  <section class="testimonial-section">
    <div class="testimonial-content">
      <h2>Ce que pense <span class="highlight">nos utilisateurs</span></h2>
      <p class="testimonial-quote"> J’ai utilisé DateFaker pour un mariage où je ne voulais pas aller seul, et c’était parfait ! Mon 'faux' compagnon était charmant et a su jouer son rôle à la perfection. Aucune question gênante, et j’ai passé une super soirée sans le moindre stress. Je recommande vivement !      </p>
      <p class="testimonial-author">Helena Ann</p>
    </div>

    <div class="image-container">
      <%= image_tag "mobile", alt: "mobile" %>
    </div>
  </section>

  <section class="app-works-section work_section">
    <div class="content-container">
      <h1 class="index-title">Comment ça <span class="highlight">marche?</span></h1>
        <p class="description"> DateFaker s'engage à vous aider dans les situations sociales délicates en vous connectant avec des experts prêts à jouer le rôle parfait pour vous.      </p>

      <div class="steps-container">
        <div class="step-box">
          <div class="step-number">1</div>
            <h2 class="index-box-item">Inscrivez-vous</h2>
        </div>
          <div class="step-box">
            <div class="step-number">2</div>
              <h2 class="index-box-item">Lancer la recherche</h2>
        </div>
          <div class="step-box">
            <div class="step-number">3</div>
              <h2 class="index-box-item">Postuler un offre</h2>
        </div>
          <div class="step-box">
            <div class="step-number">4</div>
            <h2 class="index-box-item">Réserver votre date</h2>
        </div>
      </div>
    </div>

    <div class="image-container image-index">
      <%= image_tag "service", alt: "service", width: "auto", height: "250" %>
    </div>
  </section>


<div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                      <div class="col-sm-6 col-md-3 item">
                        <%= image_tag "logo", alt: "logo_date_faker", width: "auto", height: "100" %>
                      </div>
                    <div class="col-sm-6 col-md-3 item">
                      <ul>
                        <a href="#"><h3>About</h3></a>
                        <a href="#"><h3>Book a fake bf</h3></a>
                        <a href="#"><h3>Offer a service</h3></a>
                        <a href="#"><h3>Career</h3></a>
                      </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Date Faker</h3>
                        <p>Amour sans détour! <br> Trouve ton fake date pour tous les évétements en 1 click</p>
                    </div>
                    <div class="col item social">
                      <a href="#"><i class="fa-brands fa-facebook fa-xl icon ion-social-facebook"></i></a>
                      <a href="#"><i class="icon ion-social-twitter fa-brands fa-instagram fa-xl"></i></a>
                      <a href="#"><i class="icon ion-social-snapchat fa-brands fa-github fa-xl"></i></a>
                      <a href="#"><i class="icon ion-social-instagram fa-solid fa-poo fa-xl"></i></a>
                    </div>
                </div>
                <p class="copyright">Date Faker © 2024</p>
            </div>
        </footer>
    </div>
