<%= render "navbar" %>
<main>
  <h1><strong><%= @offer.title %></strong></h1>
  <div class="card">
    <div class="profile">
      <div class="photo-gallery">
        <div class="profile-image main-image" style="background-image: url('<%= @offer.photos.first.url %>')">
        </div>
        <div class="secondary-images">
          <% @offer.photos.each do |photo| %>
            <% if photo != @offer.photos.first %>
              <div class="secondary-image" style="background-image: url('<%= photo.url %>')">
              <%# #donne le lien de la photo %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <section class="details">
      <div class="location">
        <div class="user-icon">JL</div>
        <div class="user-details">
          <p>Nom: <%= @user.first_name %> <%= @user.last_name %></p>
          <p>Age: <%= @user.age %></p>
          <p>Gender: <%= @user.gender %></p>
          <p>Prix: <%= @offer.price %> €</p>
          <p>Description: <br><%= @offer.description %></p>
          <p>Mobilité: <%= @offer.localisation %></p>
          <p>Disponibilités </p>
        </div>
      </div>
      <div class="btn">
        <%= link_to "Booker", new_offer_booking_path(@offer)%>
      </div>
    </section>
  </div>
</main>
<%= render "footer" %>
