<%= render "navbar" %>
<main>
  <h1><strong><%= @offer.title %></strong></h1>
  <div class="card">
    <div class="profile">
      <div class="photo-gallery">
        <div class="profile-image main-image" style="background-image: url('<%= @offer.photos.first.url %>')">
        </div>
        <div class="secondary-images">
          <% @offer.photos.each do |photo| %>
            <% if photo != @offer.photos.first %>
              <div class="secondary-image" style="background-image: url('<%= photo.url %>')">
              <%# #donne le lien de la photo %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <section class="details">
      <div class="location">
        <div class="user-icon">JL</div>
        <div class="user-details">
          <p>Nom: <%= @user.first_name %> <%= @user.last_name %></p>
          <p>Age: <%= @user.age %></p>
          <p>Gender: <%= @user.gender %></p>
          <p>Prix: <%= @offer.price %> €</p>
          <p>Descriptions: <br><%= @offer.description %></p>
          <p>Mobilités: <%= @offer.localisation %></p>
          <p>Disponibilités: </p>
        </div>
      </div>
      <div class="btn">
        <%= link_to "Booker", new_offer_booking_path(@offer)%>
      </div>
    </section>
  </div>
</main>
<%= render "footer" %>

<%# <body>
    <div class="images">
      <div class="main-image" style="background-image: url('https://imgs.search.brave.com/p82VovnYmIjnKXUkqiTsiqWL4wfy5ZDGGPDXisodfP8/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vaWQvNDYz/NjMyODQ3L3Bob3Rv/L2x5b24tdmlldy5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/ejh1b2RaX0Y0bHVY/RTVwNF9iUHF3di1E/QmNnRTlkN0s1bzhk/d09UanZhaz0');">
      </div>
      <div class="secondary-images">
        <div class="secondary-image" style="background-image: url('https://imgs.search.brave.com/D_ybSq7R2pvoNFx4cWtrCfIVBLDdnb9KB3WVfRb1wyY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTE3/Njc5OTU5MS9waG90/by9wbGFjZS1iZWxs/ZWNvdXItbHlvbi5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/SndoQmhsa0pZMlVu/cjZVaU5YejNaYk5F/c0I1QXRXR2NkTjha/X3dDREhiMD0');"></div>
        <div class="secondary-image" style="background-image: url('https://imgs.search.brave.com/D_ybSq7R2pvoNFx4cWtrCfIVBLDdnb9KB3WVfRb1wyY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTE3/Njc5OTU5MS9waG90/by9wbGFjZS1iZWxs/ZWNvdXItbHlvbi5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/SndoQmhsa0pZMlVu/cjZVaU5YejNaYk5F/c0I1QXRXR2NkTjha/X3dDREhiMD0');"></div>
        <div class="secondary-image" style="background-image: url('https://imgs.search.brave.com/D_ybSq7R2pvoNFx4cWtrCfIVBLDdnb9KB3WVfRb1wyY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTE3/Njc5OTU5MS9waG90/by9wbGFjZS1iZWxs/ZWNvdXItbHlvbi5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/SndoQmhsa0pZMlVu/cjZVaU5YejNaYk5F/c0I1QXRXR2NkTjha/X3dDREhiMD0');"></div>
        <div class="secondary-image" style="background-image: url('https://imgs.search.brave.com/D_ybSq7R2pvoNFx4cWtrCfIVBLDdnb9KB3WVfRb1wyY/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTE3/Njc5OTU5MS9waG90/by9wbGFjZS1iZWxs/ZWNvdXItbHlvbi5q/cGc_cz02MTJ4NjEy/Jnc9MCZrPTIwJmM9/SndoQmhsa0pZMlVu/cjZVaU5YejNaYk5F/c0I1QXRXR2NkTjha/X3dDREhiMD0');"></div>
      </div>
    </div>
</body> %>
